<html>
    <head>
          <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      
   
   
    </head>

    <body>

          <style>
            body{
              background-color: #212529;
            }
            
            .container {
              justify-content: center;
              margin-top: 10%;
            
            }
            .fa{
                font-size: 60px;
                color: blue;
            }
            .card{
                margin:10 px ;
                color:#fff;
            }
        </style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <div class="container-fluid">
             <a class="navbar-brand" href="/">
                 EBank
    </a>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/apis">APIs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Application</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Get Started
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
    <div class="row">
<div class="card-group">
       <div class="card bg-dark border-primary">
               <div class="text-center">
                  <i class="fa fa-bank"></i>
             </div>
             <div class="card-body text-center">
                   <h5 class="card-title">Account Statement</h5>
                   <p class="card-text"> Periodic summary of account activity with a beginning date and an ending date.</p>
                    <button class="btn btn-sm btn-primary">Get Started</button>
            </div>
  </div>
 <div class="card bg-dark border-primary">
               <div class="text-center">
                  <i class="fa fa-money-bill-transfer"></i>
             </div>
             <div class="card-body text-center">
                   <h5 class="card-title">Internal Transfer</h5>
                   <p class="card-text"> Transactions that move funds from one account to another, without the exchange of cash or cheques.</p>
                    <button class="btn btn-sm btn-primary">Get Started</button>
            </div>
  </div>

 <div class="card bg-dark border-primary">
               <div class="text-center">
                  <i class="fa fa-exchange"></i>
             </div>
             <div class="card-body text-center">
                   <h5 class="card-title">Exchange Rate</h5>
                   <p class="card-text"> The exchange rate released by the Central Bank of Kenya is an indicative rate.</p>
                    <button class="btn btn-sm btn-primary">Get Started</button>
            </div>
  </div>
 <div class="card bg-dark border-primary">
               <div class="text-center">
                  <i class="fa fa-credit-card"></i>
             </div>
             <div class="card-body text-center">
                   <h5 class="card-title">Mpesa B2C</h5>
                   <p class="card-text"> Periodic summary of account activity with a beginning date and an ending date.</p>
                    <button class="btn btn-sm btn-primary">Get Started</button>
            </div>
  </div>
</div>
</div>

<div class="row">
<div class="card-group">
       <div class="card bg-dark border-primary">
               <div class="text-center">
                  <i class="fa fa-credit-card"></i>
             </div>
             <div class="card-body text-center">
                   <h5 class="card-title">Mpesa B2B</h5>
                   <p class="card-text"> Periodic summary of account activity with a beginning date and an ending date.</p>
                    <button class="btn btn-sm btn-primary">Get Started</button>
            </div>
  </div>
 <div class="card bg-dark border-primary">
               <div class="text-center">
                  <i class="fa fa-money-bill-transfer"></i>
             </div>
             <div class="card-body text-center">
                   <h5 class="card-title">PesaLink Transfer</h5>
                   <p class="card-text"> Transactions that move funds from one account to another, without the exchange of cash or cheques.</p>
                    <button class="btn btn-sm btn-primary">Get Started</button>
            </div>
  </div>

 <div class="card bg-dark border-primary">
               <div class="text-center">
                  <i class="fa fa-user"></i>
             </div>
             <div class="card-body text-center">
                   <h5 class="card-title">Account Opening </h5>
                   <p class="card-text">Opening an Equity Bank Account ensures safety and security for your finances.</p>
                    <button class="btn btn-sm btn-primary">Get Started</button>
            </div>
  </div>
 <div class="card bg-dark border-primary">
               <div class="text-center">
                  <i class="fa fa-bell"></i>
             </div>
             <div class="card-body text-center">
                   <h5 class="card-title">IPN API</h5>
                   <p class="card-text">Message service that automatically notifies merchants of events related to transactions</p>
                    <button class="btn btn-sm btn-primary">Get Started</button>
            </div>
  </div>
</div>
</div>
</div>





   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </body>
 
</html>