
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EBank</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://preview.cruip.com/solid/dist/css/style.css">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
						               E-Bank 
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">E-Bank API Platform</h1>
	                        <p class="hero-paragraph">API Platform is a next-generation web framework designed to easily create API-first projects without compromising extensibility and flexibility</p>
	                        <div class="hero-cta"><a class="button button-primary" href="#">Get Started</a>
                          <a class="button" href="/apis">API's</a></div>
						</div>
						<div class="hero-figure anime-element">
							<svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
								<rect width="528" height="396" style="fill:transparent;" />
							</svg>
							<div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
							<div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
							<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
							<div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
							<div class="hero-figure-box hero-figure-box-05"></div>
							<div class="hero-figure-box hero-figure-box-06"></div>
							<div class="hero-figure-box hero-figure-box-07"></div>
							<div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
							<div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
							<div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
						</div>
                    </div>
                </div>
            </section>
</main>
            
    </div>

    <script src="dist/js/main.min.js"></script>
<script async src='https://www.googletagmanager.com/gtag/js?id=G-CFBJNKSYBN'></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-CFBJNKSYBN', { 'anonymize_ip': true });</script>
<div id="banner" class="banner-outer"><div class="banner-inner"><a class="banner-link" href="https://cruip.com/"><span>✨ Check out more beautiful templates on Cruip.com</span><svg xmlns="http://www.w3.org/2000/svg" width="11" height="11"><path fill="#6366F1" fill-rule="evenodd" d="m5.979 10.184-.895-.885 3.108-3.107H.386V4.899h7.806L5.084 1.797l.895-.89 4.639 4.639z"/></svg></a><button onclick="closeBanner()"><span class="sr-only">Close</span><svg viewBox="0 0 16 16" width="16" height="16"><path fill="#64748B" d="M12.72 3.293a1 1 0 00-1.415 0L8.012 6.586 4.72 3.293a1 1 0 00-1.414 1.414L6.598 8l-3.293 3.293a1 1 0 101.414 1.414l3.293-3.293 3.293 3.293a1 1 0 001.414-1.414L9.426 8l3.293-3.293a1 1 0 000-1.414z"></path></svg></button></div></div><style>@import url(https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap);.banner-outer{position:fixed;bottom:0;right:0;width:100%;z-index:60}.banner-inner{display:flex;justify-items:center;align-items:center;background:#0f172a;padding:12px 16px;border-radius:2px;font-size:14px;font-family:Inter,sans-serif;font-weight:500;box-shadow:0 10px 15px -3px rgb(0 0 0 / .1),0 4px 6px -4px rgb(0 0 0 / .1)}.banner-link{flex-grow:1;display:flex;color:#f8fafc;justify-items:center;align-items:center;text-decoration:none;}.banner-link:hover{text-decoration:none}.banner-link>svg{margin-left:8px}.banner-inner button{font-family:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0;margin-left:24px;padding-left:8px;border:none;cursor:pointer;border-left:1px solid #334155;-webkit-appearance:button;background-color:transparent;background-image:none}.banner-inner button span{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0}@media screen and (min-width:768px){.banner-outer{bottom:32px;right:48px;width:auto}}</style><script>function closeBanner(){document.getElementById("banner").remove()}</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854" integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==" data-cf-beacon='{"rayId":"7ff4d28ef9f30c31","version":"2023.8.0","r":1,"token":"59cc17d45d734f9ba118c63036ab1b84","si":100}' crossorigin="anonymous"></script>
</body>
</html>
